{% with site_title as pageHeader %}
{% with "person-gear" as pageHeaderIcon %}
{% include "usersettings/pageHeader.html" %}
{% endwith %}
{% endwith %}

<form id="usersettingsForm" action="/cc/usersettings/update" method="POST">

    <ul class="nav nav-tabs" id="usersettingsTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="true">{{ _("Profile") }}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" role="tab" aria-controls="password-tab-pane" aria-selected="false">{{ _("Password") }}</button>
        </li>
    </ul>

    {% c_csrf_token %}

    <div class="tab-content" id="usersettingsTabContent">

        <div class="tab-pane fade show active pt-3" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab">
            {% include "usersettings/profileTab.html" %}
        </div>

        <div class="tab-pane fade pt-3" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab">
            {% include "usersettings/passwordTab.html" %}
        </div>

    </div>
</form>
