<input type="hidden" name="username" value="{{ user.username }}">

<div class="row">
    <div class="col-12 col-sm-6 col-lg-4 mb-3">
        {% with "editPassword" as inputId %}
        {% with "password" as inputName %}
        {% with _("Current password") as inputLabel %}
        {% with "current-password" as inputAutocomplete %}
        {% include "parts/passwordInputWithLabel.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-lg-4 mb-3">
        {% with "editPasswordNew" as inputId %}
        {% with "newpassword" as inputName %}
        {% with _("New password") as inputLabel %}
        {% with "new-password" as inputAutocomplete %}
        {% with password_min_length as inputMinLength %}
        {% include "parts/passwordInputWithLabel.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mb-3">
        {% with "editPasswordNewConfirmation" as inputId %}
        {% with "newpassword_confirmation" as inputName %}
        {% with _("New password confirmation") as inputLabel %}
        {% with "new-password" as inputAutocomplete %}
        {% include "parts/passwordInputWithLabel.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>
</div>
