<div class="row">
    <div class="col-12 col-sm-6 col-lg-4 mb-3">
        {% with "editTimezone" as selectId %}
        {% with "timezone" as selectName %}
        {% with _("Timezone") as selectLabel %}
        {% with timezones as selectOptions %}
        {% include "parts/selectWithLabel.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mb-3">
        {% with "editLanguage" as selectId %}
        {% with "language" as selectName %}
        {% with _("Language") as selectLabel %}
        {% with locales as selectOptions %}
        {% include "parts/selectWithLabel.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-lg-4 mb-3">
        {% mel_dateformat_var user.created "long" as userCreated %}
        {% with "created" as inputId %}
        {% with _("Created") as inputLabel %}
        {% with userCreated as inputValue %}
        {% include "parts/roInputWithLabel.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mb-3">
        {% mel_dateformat_var user.updated "long" as userUpdated %}
        {% with "updated" as inputId %}
        {% with _("Updated") as inputLabel %}
        {% with userUpdated as inputValue %}
        {% include "parts/roInputWithLabel.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-lg-4 mb-3">
        {% mel_dateformat_var user.updated "long" as userLastSeen %}
        {% with "lastSeen" as inputId %}
        {% with _("Last seen") as inputLabel %}
        {% with userLastSeen as inputValue %}
        {% include "parts/roInputWithLabel.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mb-3">
        {% mel_dateformat_var user.validUntil "long" as userValidUntil %}
        {% with "validUntil" as inputId %}
        {% with _("Valid until") as inputLabel %}
        {% with userValidUntil as inputValue %}
        {% include "parts/roInputWithLabel.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>
</div>
