{% extends "parts/modal.html" %}
{% block label %}{% i18n "Add user" %}{% endblock %}

{% block content %}
<form id="addUserForm" action="/cc/users/add" method="POST">
    {% c_csrf_token %}
    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            {% with "addUserUsername" as inputId %}
            {% with "username" as inputName %}
            {% with _("Username") as inputLabel %}
            {% with "off" as inputAutocomplete %}
            {% include "parts/textInputWithLabel.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>

        <div class="col-12 col-lg-6 mb-3">
            {% with "addUserEmail" as inputId %}
            {% with "email" as inputName %}
            {% with _("Email") as inputLabel %}
            {% with "off" as inputAutocomplete %}
            {% include "parts/emailInputWithLabel.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>

        <div class="col-12 col-lg-6 mb-3">
            {% with "addUserPassword" as inputId %}
            {% with "password" as inputName %}
            {% with _("Password") as inputLabel %}
            {% with "off" as inputAutocomplete %}
            {% include "parts/passwordInputWithLabel.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>

        <div class="col-12 col-lg-6 mb-3">
            {% with "addUserPasswordConfirmation" as inputId %}
            {% with "password_confirmation" as inputName %}
            {% with _("Password confirmation") as inputLabel %}
            {% with "off" as inputAutocomplete %}
            {% include "parts/passwordInputWithLabel.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>

        <div class="col-12 col-lg-6 mb-3">
            {% with "addUserType" as selectId %}
            {% with "type" as selectName %}
            {% with _("Type") as selectLabel %}
            {% with user_type_options as selectOptions %}
            {% include "parts/selectWithLabel.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>

        <div class="col-12 col-lg-6 mb-3">
            {% with "addUserValidUntil" as inputId %}
            {% with "validUntil" as inputName %}
            {% with _("Valid until") as inputLabel %}
            {% include "parts/validUntilInputWithLabel.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>
    </div>
</form>
{% endblock %}

{% block footer %}
<button id="addUserFormSubmit" type="submit" form="addUserForm" class="btn btn-primary text-capitalize"><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><i class="bi bi-person-plus"></i> {{ _("add user") }}</button>
{% endblock %}
