{% with site_title as pageHeader %}
{% with "people" as pageHeaderIcon %}
{% include "users/indexPageHeader.html" %}
{% endwith %}
{% endwith %}

<table id="usersTable" class="table">
    <thead>
        <tr>
            <th scope="col" class="text-capitalize">{{ _("actions") }}</th>
            <th scope="col" class="text-capitalize">{{ _("username") }}</th>
            <th scope="col" class="text-capitalize d-none d-lg-table-cell">{{ _("email") }}</th>
            <th scope="col" class="text-capitalize">{{ _("type") }}</th>
            <th scope="col" class="text-capitalize text-end">{{ _("ID") }}</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
    </tbody>
</table>

<!-- start user-row-template -->
<template id="user-row-template">
    <tr>
        <td>
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-outline-primary edit-user-btn" title="{{ _("Edit user") }}" value=""><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><i class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">{{ _("Toggle dropdown") }}</span></button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item text-danger delete-user-btn" href="#" data-value=""><i class="bi bi-person-dash"></i> {{ _("Delete user") }}</a>
                </ul>
            </div>
        </td>
        <td></td>
        <td class="d-none d-lg-table-cell"></td>
        <td></td>
        <td class="text-end"></td>
    </tr>
</template>
<!-- end user-row-template -->

<!-- start addUserModal -->
{% with "addUser" as modalId %}
{% with "modal-lg" as modalSize %}
{% include "users/addUserModal.html" %}
{% endwith %}
{% endwith %}
<!-- end addUserModal -->

<script id="user-types-translated" type="application/json">{{ user_types_translated|safe }}</script>
